h1 {
    text-align: center;
    font-size:75px
}
h3 {
  text-align: center;
  color: rgb(107, 1, 107);
  font-size: 40px;
  font-weight: bolder;
}
p {
font-family;
text-align: center;
}
body { 
    Background-color: light blue;
}
blockquote {
  background-color: rgba(249, 175, 122, 0.099);
}
ul {
  list-style-position: inside;
  text-align: center;
  list-style: circle;
  font-weight: bold;
  background-color: rgba(249, 175, 122, 0.082);
}
li {
  list-style-position: inside;
  text-align: center;
}
img {
  max-width:100%;
}